{% extends 'main.html' %}
{% load static %}
 {% block content%}
 <!-- wrapper  -->	
 <div id="wrapper">
    <!-- dashbard-menu-wrap -->
    <div class="dashbard-menu-overlay"></div>
    <div class="dashbard-menu-wrap">
        <div class="dashbard-menu-close"><i class="fal fa-times"></i></div>
        <div class="dashbard-menu-container">
            <!-- user-profile-menu-->
            <div class="user-profile-menu">
                <h3>Main</h3>
                <ul class="no-list-style">
                    <li><a href="{% url 'list' %}"><i class="fal fa-chart-line"></i>Dashboard</a></li>
                   
                 
                </ul>
            </div>
            <!-- user-profile-menu end-->
            <!-- user-profile-menu-->
            
            <!-- user-profile-menu end--> 
        </div>
        <div class="dashbard-menu-footer">© PES University | Powered by <a href="https://nith.ooo" target="_blank">NiTH</a></div>
    </div>
    <!-- dashbard-menu-wrap end  -->		
    <!-- content -->	
    <div class="dashboard-content">
        {% comment %} <div class="dashboard-menu-btn color-bg"><span><i class="fas fa-bars"></i></span>Dasboard Menu</div> {% endcomment %}
        <div class="container dasboard-container">
            <!-- dashboard-title -->	
            <div class="dashboard-title fl-wrap">
                <div class="dashboard-title-item"><span>Event Listings</span></div>
                
                    
                    <a href="index.html" class="log-out-btn   tolt" data-microtip-position="top"  data-tooltip="Log Out"><i class="far fa-power-off"></i></a>
                {% comment %} </div> {% endcomment %}
                <!--Tariff Plan menu-->
               
                <!--Tariff Plan menu end-->						
            </div>
            <!-- dashboard-title end -->	
            <div>	
            <div class="dasboard-wrapper fl-wrap">
                <div class="dasboard-listing-box fl-wrap">
                    <div class="dasboard-opt sl-opt fl-wrap">
                        <div class="dashboard-search-listing">
                            <input type="text" onclick="this.select()" placeholder="Search" value="">
                            <button type="submit"><i class="far fa-search"></i></button>
                        </div>
                        <a href="{% url 'create-event' %}" class="gradient-bg dashboard-addnew_btn">Add New <i class="fal fa-plus"></i></a>	
                        <!-- price-opt-->
                        <div class="price-opt">
                            <span class="price-opt-title">Sort   by:</span>
                            <div class="listsearch-input-item">
                                <select data-placeholder="Lastes" class="chosen-select no-search-select" >
                                    <option>Lastes</option>
                                    <option>Oldes</option>
                                    <option>Average rating</option>
                                    <option>Name: A-Z</option>
                                    <option>Name: Z-A</option>
                                </select>
                            </div>
                        </div>
                        <!-- price-opt end-->
                    </div>
                  
                </div>
                
                <!-- uuuuuuuuuu -->
                    <!-- dashboard-listings-wrap-->
                    <div class="dashboard-listings-wrap fl-wrap">
                       
                        <div class="row">
                            
                            <!-- dashboard-listings-item-->
                             {% for recent_event1 in recent_events2 %} 
                            <div class="col-md-6">
                                <div class="dashboard-listings-item fl-wrap">
                                    <div class="dashboard-listings-item_img">
                                    
                                        <div class="bg-wrap">
                                            <div class="bg  "  data-bg="{% static 'images/' %}{{recent_event1.featured_img}}"></div>
                                        </div>
                                        <div class="overlay"></div>
                                        <a href="{% url 'single-event' recent_event1.id %}" class="color-bg">View</a> 
                                    </div>
                                    
                                    <div class="dashboard-listings-item_content">
                                        <h4><a href="listing-single.html"></a></h4>
                                        <div class="geodir-category-location">
                                            <!-- <a href="#"><i class="fas fa-map-marker-alt"></i> <span>{{recent_event1.title}}</span></a> -->
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="dashboard-listings-item_opt">
                                            
                                            <span class="viewed-counter"><i class="fas fa-eye"></i> Viewed -   </span>
                                             <ul>
                                                <li><a href="#" class="tolt" data-microtip-position="top-left"  data-tooltip="Edit"><i class="far fa-edit"></i></a></li>
                                                <li><a href="{% url 'delete' recent_event1.id %}" class="tolt" data-microtip-position="top-left"  onclick="return confirm('Are you sure you want to delete this?')"><i class="far fa-trash-alt"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %} 
                           
                            
                        
                        </div>
                    </div>
                    <!-- dashboard-listings-wrap end-->
                </div>
                <!-- pagination-->
               ``
                <!-- pagination end-->	
            </div>
        </div>
        
    </div>
    <!-- content end -->	
    <div class="dashbard-bg gray-bg"></div>
</div>
<!-- wrapper end -->
</div>
<!-- Main end -->
 {% endblock content%}