{% extends 'main.html' %}
{% block content%}
{% load static %}
    <!-- wrapper  -->	
            <div id="wrapper">
                <!-- dashbard-menu-wrap -->
                <div class="dashbard-menu-overlay"></div>
                <div class="dashbard-menu-wrap">
                    <div class="dashbard-menu-close"><i class="fal fa-times"></i></div>
                    <div class="dashbard-menu-container">
                        <!-- user-profile-menu-->
                        <div class="user-profile-menu">
                            <h3>Main</h3>
                            <ul class="no-list-style">
                                <li><a href="{% url 'list' %}"><i class="fal fa-chart-line"></i>Dashboard</a></li>
                              
                              
                            </ul>
                        </div>
                        <!-- user-profile-menu end-->
                        <!-- user-profile-menu-->
                       
                        <!-- user-profile-menu end--> 
                    </div>
                    <div class="dashbard-menu-footer">© PES University | Powered by <a href="https://nith.ooo" target="_blank">NiTH</a></div>
                </div>
                <!-- dashbard-menu-wrap end  -->		
                <!-- content -->	
                <div class="dashboard-content">
                    <div class="dashboard-menu-btn color-bg"><span><i class="fas fa-bars"></i></span>Dasboard Menu</div>
                    <div class="container dasboard-container">
                        <!-- dashboard-title -->	
                        <div class="dashboard-title fl-wrap">
                            <div class="dashboard-title-item"><span>Add Listing</span></div>
                            
                               
                                <a href="index.html" class="log-out-btn   tolt" data-microtip-position="bottom"  data-tooltip="Log Out"><i class="far fa-power-off"></i></a>
                           
                            <!--Tariff Plan menu-->
                          
                            <!--Tariff Plan menu end-->						
                        </div>
                        <!-- dashboard-title end -->		
                        <div class="dasboard-wrapper fl-wrap no-pag">
                            <div class="dasboard-scrollnav-wrap scroll-to-fixed-fixed scroll-init2 fl-wrap">
                                <ul>
                                    <li><a href="#sec1" class="act-scrlink">Event Info</a></li>
                                    <li><a href="#sec2">Location</a></li>
                                    <li><a href="#sec3">Upload Images</a></li>
                                    <li><a href="#sec4">Listing Details</a></li>
                                    
                                </ul>
                                <div class="progress-indicator">
                                    <svg xmlns="http://www.w3.org/2000/svg"
                                        viewBox="-1 -1 34 34">
                                        <circle cx="16" cy="16" r="15.9155"
                                            class="progress-bar__background" />
                                        <circle cx="16" cy="16" r="15.9155"
                                            class="progress-bar__progress 
                                            js-progress-bar" />
                                    </svg>
                                </div>
                            </div>
                    <form  method="POST" action="" enctype="multipart/form-data" >
                                {%csrf_token %}
                            <!-- dasboard-widget-title -->
                            <div class="dasboard-widget-title fl-wrap" id="sec1">
                                <h5><i class="fas fa-info"></i>Basic Informations</h5>
                            </div>
                            <!-- dasboard-widget-title end -->
                            <!-- dasboard-widget-box  -->
                            <div class="dasboard-widget-box fl-wrap">
                                <div class="custom-form">
                                    <div class="row">
                                        <div class="col-sm-6">		 
                                            <label>Event Title  <span class="dec-icon"><i class="far fa-briefcase"></i></span></label>
                                            <input type="text" name="title" value="{{form.title}}"/>
                                        </div>
                                       
                                        <div class="col-sm-6">
                                            <label>Sub Title: <span class="dec-icon"><i class="fal fa-layer-plus"></i></span></label>
                                            <input type="text" name="description"  value="{{form.name}}"/>				
                                        </div>
                                    </div>  
                                    <div class="row">
                                        <div class="col-sm-9">
                                            <label>Event Details</label>
                                            <div class="listsearch-input-item">
                                                <div class="col-sm-6">		 
                                                    <!-- <label>Event Title  <span class="dec-icon"><i class="far fa-briefcase"></i></span></label> -->
                                                    <input cols="40" rows="3" type="text" name="about" value="{{form.about}}"/>
                                                </div>
                                                <!-- <input cols="40" rows="3" style="height: 200px;margin-bottom: 10px"  spellcheck="true" name="about" value="{{form.description}}"/> -->
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <label>Featured Image</label>
                                            <div class="listsearch-input-item fl-wrap">
                                                <div class="fuzone">
                                                    <div class="fu-text">
                                                        <span><i class="far fa-cloud-upload-alt"></i> Click here or drop files to upload</span>
                                                        <div class="photoUpload-files fl-wrap"></div>
                                                    </div>
                                                    <input type="file" class="upload" name="featured_img" value="{{form.featured_img}}" multiple>
                                                    <img src="{% static 'images/' %}{{form.featured_img}}" width="90" height="90" />
                                                </div>
                                            </div>
                                        </div>
                                    </div> 
                                    <div class="clearfix"></div>
                                    <label>Campus: </label>
                                    <div class=" add-list-tags fl-wrap">
                                        <!-- Checkboxes -->
                                        <ul class="fl-wrap filter-tags no-list-style ds-tg">
                                            <li>
                                                <input id="check-2aaa5" type="checkbox" value="PES University RR Campus" name="campus[]">
                                                <label for="check-2aaa5">RR Campus</label>
                                            </li>
                                            <li>
                                                <input id="check-2bb5" type="checkbox" name="campus[]" value="PES University EC Campus" >
                                                <label for="check-2bb5">EC Campus</label>
                                            </li>
                                            <li>
                                                <input id="check-2dd5" type="checkbox" value="PES University HN Campus" name="campus[]">
                                                <label for="check-2dd5">HN Campus</label>
                                            </li>
                                            
                                        </ul>
                                        <!-- Checkboxes end -->												
                                    </div>
                                    <label>Start/End</label>
                                    <div class="card p-3 mb-4">
                                        <div class="row">
                                                     <label class="col-md-2 text-left col-form-label"></label> 
                                                    <div class="col-md-10">
                                                        <input type="date" class="form-control date-time-field mr-1" placeholder="dd-mm-yy" name="start_date" >
                                                        <input type="time" class="form-control date-time-field mr-1" id="start_time" name="start_time" ><span class="mr-1"> to </span>
                                                        <input type="date" class="form-control date-time-field mr-1" placeholder="dd-mm-yy" name="end_date" >
                                                        <input type="time" class="form-control date-time-field mr-1" id="end_time" name="end_time" >
                                                    </div>
                                        </div>
                                    </div>
                                   
                                    
                                    </div>
                                </div>
                            </div>
                           
                            <!-- dasboard-widget-title -->
                            <div class="dasboard-widget-title dwb-mar fl-wrap" id="sec4">
                                <h5><i class="fas fa-list"></i>Listing Details</h5>
                            </div>
                            <!-- dasboard-widget-title end -->
                            <!-- dasboard-widget-box  -->
                            <div class="dasboard-widget-box   fl-wrap">
                                <div class="custom-form">
                                    <div class="row">
                                        <div class="clearfix">
                                            

                                    </div>
                                    <label>Department: </label>
                                    <div class=" add-list-tags fl-wrap">
                                        <!-- Checkboxes -->
                                        <ul class="fl-wrap filter-tags no-list-style ds-tg">
                                            <li>
                                                <input id="check-aaa5" type="checkbox" name="department[]" value="Science &amp; Humanities">
                                                <label for="check-aaa5"> Science &amp; Humanities</label>
                                            </li>
                                            <li>
                                                <input id="check-bb5" type="checkbox" name="department[]" value="Computer Science">
                                                <label for="check-bb5">Computer Science</label>
                                            </li>
                                            <li>
                                                <input id="check-dd5" type="checkbox" name="department[]" value="Electronics &amp; Communications">
                                                <label for="check-dd5"> Electronics &amp; Communications</label>
                                            </li>
                                            <li>
                                                <input id="check-cc5" type="checkbox" name="department[]" value="Electrical &amp; Electronics">
                                                <label for="check-cc5"> Electrical &amp; Electronics</label>
                                            </li>
                                            <li>
                                                <input id="check-ff5" type="checkbox" name="department[]"  value="Mechanical">
                                                <label for="check-ff5">Mechanical</label>
                                            </li>
                                            <li>
                                                <input id="check-c4" type="checkbox" name="department[]" value="Biotechnology">
                                                <label for="check-c4">Biotechnology</label>
                                            </li>
                                            <li>
                                                <input id="check-c18" type="checkbox" name="department[]" value="Civil">
                                                <label for="check-c18">Civil</label>
                                            </li>
                                          
                                            <li>
                                                <input id="check-c18" type="checkbox" name="department[]" value="Management Studies">
                                                <label for="check-c18">Management Studies</label>
                                            </li>
                                            <li>
                                                <input id="check-c18" type="checkbox" name="department[]" value="Architecture">
                                                <label for="check-c18">Architecture</label>
                                            </li>
                                            <li>
                                                <input id="check-c18" type="checkbox" name="department[]"  value="Design">
                                                <label for="check-c18">Design</label>
                                            </li>
                                            <li>
                                                <input id="check-c18" type="checkbox" name="department[]" value="Law" >
                                                <label for="check-c18">Law</label>
                                            </li>
                                            <li>
                                                <input id="check-c18" type="checkbox" name="department[]" value="Computer Applications">
                                                <label for="check-c18">Computer Applications</label>
                                            </li>
                                            <li>
                                                <input id="check-c18" type="checkbox" name="department[]" value="Pharmacy">
                                                <label for="check-c18">Pharmacy</label>
                                            </li>
                                            <li>
                                                <input id="check-c18" type="checkbox" name="department[]"  value="Commerce">
                                                <label for="check-c18">Commerce</label>
                                            </li>
                                        </ul>
                                        <!-- Checkboxes end -->												
                                    </div>
                                    <label>Tag: </label>
                                    <div class=" add-list-tags fl-wrap">
                                        <!-- Checkboxes -->
                                        <ul class="fl-wrap filter-tags no-list-style ds-tg">
                                            <li>
                                                <input id="check-aaa5" type="checkbox" name="tag[]" value="Alumni">
                                                <label for="check-aaa5">Alumni</label>
                                            </li>
                                            <li>
                                                <input id="check-bb5" type="checkbox" name="tag[]" value="Clubs &amp; Activities" >
                                                <label for="check-bb5">Clubs &amp; Activities</label>
                                            </li>
                                            <li>
                                                <input id="check-dd5" type="checkbox" name="tag[]"  value="Music">
                                                <label for="check-dd5"> Music</label>
                                            </li>
                                            <li>
                                                <input id="check-cc5" type="checkbox" name="tag[]" value="Sports">
                                                <label for="check-cc5">Sports</label>
                                            </li>
                                            <li>
                                                <input id="check-ff5" type="checkbox" name="tag[]" value="Research">
                                                <label for="check-ff5">Research</label>
                                            </li>
                                            <li>
                                                <input id="check-c4" type="checkbox" name="tag[]" value="Workshop">
                                                <label for="check-c4">Workshop</label>
                                            </li>
                                            <li>
                                                <input id="check-c18" type="checkbox" name="tag[]" value="Dance">
                                                <label for="check-c18">Dance</label>
                                            </li>
                                            <li>
                                                <input id="check-c18" type="checkbox" name="tag[]" value="Cultural">
                                                <label for="check-c18">Cultural</label>
                                            </li>
                                            <li>
                                                <input id="check-c18" type="checkbox" name="tag[]" value="Technical">
                                                <label for="check-c18">Technical</label>
                                            </li>
                                            <li>
                                                <input id="check-c18" type="checkbox" name="tag[]" value="Conference">
                                                <label for="check-c18">Conference</label>
                                            </li>
                                            <li>
                                                <input id="check-c18" type="checkbox" name="tag[]" value="Art">
                                                <label for="check-c18">Art</label>
                                            </li>
                                            <li>
                                                <input id="check-c18" type="checkbox" name="tag[]" value="Management">
                                                <label for="check-c18">Management</label>
                                            </li>
                                            <li>
                                                <input id="check-c18" type="checkbox" name="tag[]" value="Innovation">
                                                <label for="check-c18">Innovation</label>
                                            </li>
                                            <li>
                                                <input id="check-c18" type="checkbox" name="tag[]" value="Academics">
                                                <label for="check-c18">Academics</label>
                                            </li>
                                            <li>
                                                <input id="check-c18" type="checkbox" name="tag[]" value="SocialActivities">
                                                <label for="check-c18">SocialActivities</label>
                                            </li>
                                            <li>
                                                <input id="check-c18" type="checkbox" name="tag[]" value="InfoSession">
                                                <label for="check-c18">InfoSession</label>
                                            </li>
                                            <li>
                                                <input id="check-c18" type="checkbox" name="tag[]" value="Admissions">
                                                <label for="check-c18">Admissions</label>
                                            </li>
                                            <li>
                                                <input id="check-c18" type="checkbox" name="tag[]" value="Media">
                                                <label for="check-c18">Media</label>
                                            </li>
                                            <li>
                                                <input id="check-c18" type="checkbox" name="tag[]" value="Webinar">
                                                <label for="check-c18">Webinar</label>
                                            </li>
                                            <li>
                                                <input id="check-c18" type="checkbox" name="tag[]" value="Debate">
                                                <label for="check-c18">Debate</label>
                                            </li>
                                            <li>
                                                <input id="check-c18" type="checkbox" name="tag[]"  value="Photography">
                                                <label for="check-c18">Photography</label>
                                            </li>
                                        </ul>
                                        <!-- Checkboxes end -->												
                                    </div>
                                    </div>
                                    
                                </div>
                            </div>
                           
                            <!-- da
                            {% comment %}  {% endcomment %}
                            <!- dasboard-widget-box  end-->
                            <!-- dasboard-widget-title -->
                            <div class="dasboard-widget-title dwb-mar fl-wrap margin-top: auto !important;" id="sec2">
                                <h5><i class="fas fa-street-view"></i>Location / Contacts</h5>
                                
                                <div class="onoffswitch">
                                    <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch5" checked>
                                    <label class="onoffswitch-label" for="myonoffswitch5">
                                    <span class="onoffswitch-inner"></span>
                                    <span class="onoffswitch-switch"></span>
                                    </label>
                                </div>
                            </div>
                            <!-- dasboard-widget-title end -->
                            <!-- dasboard-widget-box  -->
                            <div class="dasboard-widget-box   fl-wrap">
                                <div class="custom-form">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <label>Address <span class="dec-icon"><i class="far fa-map-marker"></i></span></label>
                                            <input type="text" name="address" value="{{form.address}}"/>
                                        </div>
                                        
                                       
                                       
                                    </div>
                                    {% comment %} <div class="clearfix"></div>
                                    <div class="map-container">
                                        <div id="singleMap" class="drag-map" data-latitude="40.7427837" data-longitude="-73.11445617675781"></div>
                                    </div> {% endcomment %}
                                    <div class="clearfix"></div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <label>External Link</label>
                                            <input type="text" name="external_link" value="{{from.external_link}}"/>
                                            <div class=" add-list-tags fl-wrap">
                                                <!-- Checkboxes -->
                                                <label>Choose a Button</label>
                                                <ul class="fl-wrap filter-tags no-list-style ds-tg">
                                                    <li>
                                                        <input id="check-aaa5" type="checkbox" name="button_name" value="Register">
                                                        <label for="check-aaa5"> Register</label>
                                                    </li>
                                                    <li>
                                                        <input id="check-bb5" type="checkbox" name="button_name" value="Confirm Attendance">
                                                        <label for="check-bb5">Confirm Attendance</label>
                                                    </li>
                                                    <li>
                                                        <input id="check-dd5" type="checkbox" name="button_name" value="Custom Text         ">
                                                        <label for="check-dd5"> Custom Text</label>
                                                    </li>
                                                   
                                                    
                                                </ul>
                                                <!-- Checkboxes end -->												
                                            </div>
                                        </div> 
                                        <div class="col-sm-6">
                                            <label>Email Address <span class="dec-icon"><i class="far fa-envelope" multiple></i></span>  </label>
                                            <input type="text" name="email" value="{{form.email}}"/>
                                        </div>
                                        <div class="col-sm-6">
                                            <label>Phone <span class="dec-icon"><i class="far fa-phone"></i></span>  </label>
                                            <input type="text" name="contact" value="{{form.contact}}"/>
                                        </div>
                                        <div class="col-sm-6">
                                            <label>FaceBook<span class="dec-icon"><i class="fab fa-facebook-f"></i></span>  </label>
                                            <input type="text" name="facebook" value="{{form.facebook}}"/>
                                        </div>
                                        <div class="col-sm-6">
                                            <label>You Tube<span class="dec-icon"><i class="fab fa-youtube"></i></span>  </label>
                                            <input type="text" name="youtube" value="{{form.youtube}}"/>
                                        </div>
                                        <div class="col-sm-6">
                                            <label>Instagram<span class="dec-icon"><i class="fab fa-instagram"></i></span>  </label>
                                            <input type="text"  name="instagram" value="{{form.instagram}}"/>
                                        </div>
                                        <div class="col-sm-6">
                                            <label>Twitter<span class="dec-icon"><i class="fab fa-twitter"></i></span>  </label>
                                            <input type="text" name="twitter" value="{{form.twitter}}"/>
                                        </div>
                                        <!-- <div class="col-sm-6">
                                            <label>Phone <span class="dec-icon"><i class="far fa-phone"></i> </span> </label>
                                            <input type="text" value=""/>
                                        </div> -->
                                        <div class="col-sm-6">
                                            <label> Website <span class="dec-icon"><i class="far fa-globe"></i> </span> </label>
                                            <input type="text" name="website" value="{{form.website}}"/>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- dasboard-widget-box  end-->	
                            <!--  Speaker-->
                            <div class="dasboard-widget-title dwb-mar fl-wrap" id="sec4">
                                <h5><i class="fas fa-list"></i>Speaker Details</h5>
                            </div>
                            
                            <div class="dasboard-widget-box fl-wrap">
                                <div class="custom-form">
                                    <div class="row">
                                       
                                        <div class="col-sm-6">		 
                                            <label>Speaker name  <span class="dec-icon"><i class="far fa-briefcase"></i></span></label>
                                            <input type="text" name="spkr_name" value="{{speaker.name}}"/>
                                        </div>
                                       
                                    </div>  
                                    <div class="row">
                                        <div class="col-sm-9">
                                            <label>About</label>
                                            <div class="listsearch-input-item">
                                                <input cols="40" rows="3" style="height: 200px;margin-bottom: 10px"  spellcheck="true" name="spkr_about" value="{{speaker.about}}" />
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <label>Speaker Image</label>
                                            <div class="listsearch-input-item fl-wrap">
                                                <div class="fuzone">
                                                    <div class="fu-text">
                                                        <span><i class="far fa-cloud-upload-alt"></i> Click here or drop files to upload</span>
                                                        <div class="photoUpload-files fl-wrap"></div>
                                                    </div>
                                                    <input type="file" class="upload" name="spkr_profile_pic" value="{{speaker.profile_pic}}" multiple>
                                                    <img src="{% static 'images/' %}{{speaker.profile_pic}}" width="90" height="90" />
                                                </div>
                                            </div>
                                        </div>
                                    </div> 
                               
                                   
                                   
                                    
                                    </div>
                                </div>
                            <!-- sdfgh -->
                            

                            <!-- speaker -->
                            <!-- dasboard-widget-title -->
                            <div class="dasboard-widget-title dwb-mar fl-wrap" id="sec3">
                                <h5><i class="fas fa-image"></i>Upload Images</h5>
                            </div>
                           
                            <div class="dasboard-widget-box   fl-wrap">
                                <div class="custom-form">
                                    
                                    <div class="clearfix"></div>
                                    <div class="listsearch-input-item fl-wrap">
                                        <div class="fuzone">
                                            <div class="fu-text">
                                                <span><i class="far fa-cloud-upload-alt"></i> Click here or drop files to upload</span>
                                                <div class="photoUpload-files fl-wrap"></div>
                                            </div>
                                            <input type="file" class="upload" name="event_images" multiple="multiple" value="{{pictures.event_images}}" >
                                            {% for image in pictures %}
                                            <img src="{% static 'images/' %}{{form.featured_img}}" width="90" height="90" />
                                            {% endfor %}
                                        </div>
                            <div class="dasboard-widget-title dwb-mar fl-wrap" id="sec3">

                                <h5><i class="fas fa-image"></i>Upload PDF</h5>
                            </div>

                                        <div class="fuzone">
                                            <div class="fu-text">
                                                <span><i class="far fa-cloud-upload-alt"></i> Click here or drop files to upload</span>
                                                <div class="photoUpload-files fl-wrap"></div>
                                            </div>
                                            <input type="file" class="upload" name="event_broucher" value="{{brocher.document}}">
                                        </div>
                                    </div>
                                </div>
                            </div>
                           
                            <input class="btn  color-bg float-btn" type="submit" value="Submit">
                            
                        </div>
                    </div>
                </form>
                    <div class="limit-box fl-wrap"></div>
                    				
                </div>
                <!-- content end -->	
                <div class="dashbard-bg gray-bg"></div>
            </div>
            <!-- wrapper end -->
        </div>
{% endblock content%}     
  