{% extends 'main.html' %}
{% load static %}
{% block content %}

<!-- footer -->	
<footer class="main-footer fl-wrap">
    <div class="footer-inner fl-wrap">
        <div class="container">
            <div class="row">
                <!-- footer widget-->
                <div class="col-md-3">
                    <div class="footer-widget fl-wrap">
                        <div class="footer-widget-logo fl-wrap">
                            <img src="{% static 'images/pes_logo.png' %}" alt="">
                        </div>
                        <p>PES University</p>
                        <div class="fw_hours fl-wrap">
                            <span>Email:<strong> admissions@pes.edu</strong></span>
                            <span><i class="fal fa-map-marker"></i> Address:<strong> Outer Ring Rd, Banashankari 3rd Stage, Banashankari, Bengaluru, Karnataka 560085</strong></span>
                        </div>
                    </div>
                </div>
             
                <!-- footer widget end-->
                <!-- footer widget-->
                <div class="col-md-3">
                    <div class="footer-widget fl-wrap">
                        <div class="footer-widget-title fl-wrap">
                            <h4>Browse by Campus</h4>
                        </div>
                        <ul class="footer-list fl-wrap">
                            <li><a href="about.html">PES University RR Campus</a></li>
                            <li><a href="blog.html">PES University EC Campus</a></li>
                            <li><a href="pricing.html">PES University HN Campus</a></li>
                            
                        </ul>
                    </div>
                </div>
                <!-- footer widget end--> 
                <!-- footer widget-->
                <div class="col-md-3">
                    <div class="footer-widget fl-wrap">
                        <div class="footer-widget-title fl-wrap">
                            <h4>Contact</h4>
                        </div>
                        <ul  class="footer-contacts fl-wrap">
                            <li> <span><i class="fal fa-map-marker"></i> Adress :</span><a href="#" target="_blank"></a></li>
                            <li><span><i class="fal fa-phone"></i> Telephone :</span><a href="#"> 080 - 26729994</a></li>
                        </ul>
                        <div class="footer-social fl-wrap">
                            <ul>
                                <li><a href="https://www.facebook.com/pesuniversity" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="https://twitter.com/pesuniversity" target="_blank"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="https://www.instagram.com/pesuniversity/" target="_blank"><i class="fab fa-instagram"></i></a></li>
                                <li><a href="https://www.linkedin.com/school/pesuniversity/" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
                                <li><a href="https://www.youtube.com/pesuniversity" target="_blank"><i class="fab fa-youtube"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- footer widget end-->   
                <!-- footer widget-->
                <div class="col-md-3">
                    <div class="footer-widget fl-wrap">
                        <div class="footer-widget-title fl-wrap">
                            <h4>Filter by Ribbons</h4>
                        </div>
                        <div class="api-links fl-wrap">
                            <a href="#" class="api-btn color-bg"><i class="fab fa-google-play"></i> ONGOING</a>  
                            <a href="#" class="api-btn color-bg"><i class="fab fa-google-play"></i>UPCOMING</a>
                            <a href="#" class="api-btn color-bg"><i class="fab fa-google-play"></i>PREVIOUS</a>
                        </div>
                    </div>
                </div>
                <!-- footer widget end-->                                     
            </div>
        </div>
    </div>
    <!--sub-footer-->
    <div class="sub-footer gray-bg fl-wrap">
        <div class="container">
            <div class="copyright"> © PES University | Powered by <a href="https://nith.ooo" target="_blank">NiTH</a></div>
           >
        </div>
    </div>
    <!--sub-footer end -->                     
</footer>
{% endblock content %}